
.blocknote-save-btn {
    padding-bottom: 10px;
}

.blocknote-save-btn .btn, .blocknote-save-btn .mx-button {
    border: none;
    border-radius: 6px;
    width: 100px;
}

.bn-side-menu .bn-drag-handle {
    padding-top: 5px;
}

.blocknote-mx-dark h1, .blocknote-mx-dark h2, .blocknote-mx-dark h3  {
    color: #cfcfcf;
}

.bn-block .bn-block-content[data-content-type="checkListItem"] div div {
    padding-right: 8px;
    padding-top: 6px;
}

/* @blocknote/core     ^0.31.3  →  ^0.35.0
@blocknote/mantine  ^0.31.3  →  ^0.35.0
@blocknote/react    ^0.31.3  →  ^0.35.0 */