.blocknote-mx-dark .blocknote-save-btn  {
    .btn, .mx-button {
        background-color: #23b5d8;
        color: #ffffff;
        &:hover {
            opacity: 0.7;
        }
    }
}

.blocknote-save-btn  {
    .btn, .mx-button {
        color: #2095b2;
    }
}

.blocknote-mx-dark {
    a {
        color: #23b5d8;
    }
    input[type="checkbox"]:checked::before {
        border-color: #2095b2;
        background-color: #2095b2;
    }
}